<!DOCTYPE html>
<html lang="ro-RO" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambia Software - Site-urile facute de noi iti schimba business-ul in bine</title>
    <meta name="description"
        content="Ai nevoie de un site care sa arate ca in 2020? Intra pe Cambia Software si cere gratuit o ora de consiliere.">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Creare site &bull; Realizare site 2020">
    <meta property="og:description"
        content="Ai nevoie de un site care sa arate ca in 2020? Intra pe Cambia Software si cere gratuit o ora de consiliere.">
    <meta property="og:locale" content="ro_RO" />
    <meta property="og:updated_time" content="2020-04-04T08:10:16-07:00">
    <meta property="og:url" content="#" />
    <meta property="og:image" content="img/hero-img.png" />
    <meta property="og:image:width" content="1008" />
    <meta property="og:image:height" content="624" />
    <meta property="og:image:alt" content="Creare site &bull; Realizare site 2020" />
    <link rel="canonical" href="#">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i"
        rel="stylesheet">

    <!-- Bootstrap css -->
    <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/modal-video/css/modal-video.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">

    <!-- =======================================================
    Theme Name: eStartup
    Theme URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

    <header id="header" class="header header-hide">
        <div class="container">

            <div id="logo" class="pull-left">
                <h1><a href="#body" class="scrollto"><span>{{name1}}</span> {{name2}}</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="#body"><img src="img/Cambia software logo transparent.png" alt="" title="" width="150px" /></a> -->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="index.html#landingArea">{{home}}</a></li>
                    <li><a href="index.html#get-started">{{howWorks}}</a></li>
                    <li><a href="index.html#mobile-ready">{{mobileReady}}</a></li>
                    <li><a href="index.html#features">{{features}}</a></li>
                    <li v-if="screenshotsVisibility"><a href="index.html#screenshots">{{screenshots}}</a></li>
                    <li><a href="index.html#team">{{team}}</a></li>
                    <li><a href="index.html#pricing">{{pricing}}</a></li>
                    <li><a href="index.html#blog">{{blog}}</a></li>
                    <li><a href="index.html#contact">{{contact}}</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->

    <!--==========================
    Get Started Section
  ============================-->
    <section id="visual-identity" class="padd-section text-center wow fadeInUp">

        <div class="container">
            <div class="section-title text-center">

                <h2>{{title}}</h2>
                <p class="separator">{{subtitle}}</p>

            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-md-6 col-lg-3" v-for="step in steps">
                    <div class="feature-block" :title="step.altImage">

                        <img :src="step.image" :alt="step.altImage" class="img-fluid">
                        <h4>{{step.title}}</h4>
                        <p>
                            {{step.text}}
                            <span v-if="step.addRow > 0">&nbsp;<br>&nbsp;</span>
                        </p>
                        <a :href="step.readMoreLink">{{step.readMore}}</a>

                    </div>
                </div>

            </div>
        </div>

    </section>

    <!--==========================
    Footer
  ============================-->
    <footer class="footer">
        <div v-if="visible" id="footer" class="container">
            <div class="row">

                <div class="col-md-12 col-lg-4">
                    <div class="footer-logo">

                        <a class="navbar-brand" href="#">{{title}}</a>
                        <p>{{subtitle}}</p>

                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="list-menu">

                        <h4>Abou Us</h4>

                        <ul class="list-unstyled">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Features item</a></li>
                            <li><a href="#">Live streaming</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>

                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="list-menu">

                        <h4>Support</h4>

                        <ul class="list-unstyled">
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Editor help</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>

        <div v-if="visible" id="copyrights" class="copyrights">
            <div class="container">
                <p>&copy; {{title}}</p>
                <div class="credits">
                    <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
          -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
        </div>

    </footer>



    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/modal-video/js/modal-video.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>

    <!-- script necesar pentru aplicatiile Vue Js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>

    <!-- script necesar pentru codul custom de VueJS -->
    <script src="js/app.js"></script>
</body>

</html>